<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartown.application">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name="com.smartown.app.YitgogoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SmartownAppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5642d517e0f55a70b3002638"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="TEST" />

        <activity
            android:name="com.smartown.app.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.base.FragmentContainerActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

    </application>

</manifest>
